.modal-error{ color:#dc3545; }
.clickable{ cursor:pointer; }
.shrinkFit{ white-space: nowrap; width: 1%;}
.toast-body{ background-color: #e9ecf2; color: black; }
.hidden { display: none; }
.bg-errored{ color: #000; background-color: #f98b49; }
.bg-active{ background: #007bff; color: #fff; }
.status-active{ background: #007bff; color: #fff; }
.status-active-errors{ background: #f2eb6a; color: #ad3737; }
.dropdown-menu-wide{ min-width: 385px; }

.rounded { border-radius: 10px; }
.btn { border-radius: 10px; }
.badge { border-radius: 10px; }

.pool-alt1 { background: rgba(51, 51, 255, .1) }
.pool-alt2 { background: rgba(51, 255, 51, .1) }

.blur { -webkit-filter: blur(5px) grayscale(50%); }

.table td{
	padding: 0.25rem;
	vertical-align:middle;
}

/* flr browser styles */
.hide-text {
        width: 0px;
	height: 0px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}
.flr_file { padding: 5px; border-radius: 5px; }
.flr_file:hover {
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.weekdays-picker input { display: none!important; }
.weekdays-picker input[type=checkbox] + label {
  display: inline-block;
  border-radius: 25px;
  background: #dddddd;
  height: 35px;
  width: 35px;
  margin-right: 8px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}
.weekdays-picker input[type=checkbox]:checked + label {
	background: #007bff;
	color: #ffffff;
}

/*  Schedule Styles */
.sched-select-container{
	width: 100%;
	background: transparent url('/images/ms-switch.png') no-repeat 50% 50%;
}
.sched-selector-base{
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border linear 0.2s, box-shadow linear 0.2s;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	height: 275px;
	padding: 0;
	overflow-y: auto;
	width: 48%;
}
.sched-replicate{
	float: center;	
	width: 99%;
	height: 200px;
}
.sched-rep-target {
	margin: 0;
	list-style-type: none;
	padding: 5px;
}
.sched-select-container .sched-selectable{
	float: left;
}
.sched-select-container .sched-selected{
	float: right;	
}
.sched-select-container ul{
	margin: 0;
	list-style-type: none;
	padding: 0;
}
.sched-select-container li{
	border-bottom: 1px #eee solid;
	padding: 2px 10px;
	font-size: 14px;
}

.sched-select-container li:hover{
	cursor: pointer;
	text-decoration: none;
	background: rgba(235, 247, 252,0.5);
}

.sched-disk-expand{
	background: transparent url(/images/expand_down.png) no-repeat;
	width: 20px;
	margin-left:5px;
	display:inline-block;
}
.sched-disk-collapse{
	background: transparent url(/images/expand_up.png) no-repeat;
	width: 20px;
	margin-left:5px;
	display:inline-block;
}

.sched-trash{
	float:right;
	color: #b37171;
	transform: translateY(20%); 
}


/* Button toggle */

.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 16px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.toggle-button {
  position: relative;
  top: 50%;
  width: 94px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
  border-radius: 2px; 
}

.flr-ds-checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {   z-index: 2; }

.layer {
  width: 100%;
  opacity: 0.5;
  background-color: #98D2EA;
  transition: 0.3s ease all;
  z-index: 1;
}

#ds-toggle-button .knobs:before,
#ds-toggle-button .knobs span {
  content: "ADS";
  position: absolute;
  top: 4px;
  left: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  background-color: #03a9f4;
  border-radius: 2px;
}
#ds-toggle-button .knobs:before {
  top: 50%;
  left: 8px;
  width: 40px;
  height: 30px;
  margin-top: -5px;
  background-color: transparent;
  z-index: 2;
}
#ds-toggle-button .knobs span {
  width: 50px;
  height: 28px;
  padding: 9px 4px;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  z-index: 1;
}
#ds-toggle-button .flr-ds-checkbox:active + .knobs:before {
  left: 2px;
  width: 46px;
  height: 4px;
  color: transparent;
  margin-top: -2px;
  background-color: #0095d8;
  transition: 0.3s ease all;
  overflow: hidden;
}
#ds-toggle-button .flr-ds-checkbox:active + .knobs span {   width: 58px; }
#ds-toggle-button .flr-ds-checkbox:checked:active + .knobs:before {
  left: auto;
  right: 4px;
  background-color: #00db5a;
}
#ds-toggle-button .flr-ds-checkbox:checked:active + .knobs span {   margin-left: -38px; }
#ds-toggle-button .flr-ds-checkbox:checked + .knobs:before {   content: "ODS";  left: 47px; }
#ds-toggle-button .flr-ds-checkbox:checked + .knobs span {  left: 42px;   background-color: #28a745;}
#ds-toggle-button .flr-ds-checkbox:checked ~ .layer {   background-color: #C7EAD5;}


/* End of flr styles  */


/* The simple dropdown for Schedules  */
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-menu-a3 {
	display: none;
	position: absolute;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-menu-a3 { margin: 1px; }
/*  */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color:#fff;
    -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}
.dark-mode ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color:#aaa;
    -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}


/*  Loading line stuff */
#loadingLine {
        z-index:2000;
        position: fixed;
        top:0;
        left:0;
        width:0;
        height: 2px;
        background-color: yellow;
        transition: width 0.5s;
/*        animation: expandLine 2s forwards; */
        display: none;
}
.loadingLine2 {
        animation: expandLine 2s forwards; 
}
@keyframes expandLine {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/*  */


/* Animated bgs for panels */
.panel-complete{ background-image: linear-gradient(19deg, #4caabb 0%, #4621ff 100%);
	background-size: 400% 400%;
	animation: gradient 45s ease infinite;
}
.panel-active { background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% );
	background-size: 400% 400%;
	animation: gradient 45s ease infinite;
}
.panel-error { 
	background-image: linear-gradient( 109.7deg,  rgba(202,50,50,1) 5.7%, rgba(252,195,12,1) 92.4% );
	background-size: 400% 400%;
	animation: gradient 45s ease infinite;
}
.panel-warning { 
	background-image: radial-gradient( circle 898px at 10% 20%,  rgba(255,185,88,1) 0%, rgba(143,86,0,1) 90% );
	background-size: 400% 400%;
	animation: gradient 45s ease infinite;
}
.panel-inactive { 
	background-image: radial-gradient( circle farthest-corner at 6.7% 22.9%,  rgba(53,62,75,1) 0%, rgba(187,187,187,1) 96.6% );
	background-size: 400% 400%;
	animation: gradient 45s ease infinite;
}
@keyframes gradient {
	0% { background-position: 0% 50%; 	}
	50% { background-position: 100% 50%; 	}
	100% { 	background-position: 0% 50%; 	}
}
/* End animated bgs for panels */

/* Login backgrounds */
.sky-bg-00 { background-image: linear-gradient(to bottom, #00000c 85%,#020111 100%); }
.sky-bg-01 { background-image: linear-gradient(to bottom, #020111 85%,#191621 100%); }
.sky-bg-02 { background-image: linear-gradient(to bottom, #020111 60%,#20202c 100%); }
.sky-bg-03 { background-image: linear-gradient(to bottom, #020111 10%,#3a3a52 100%); }
.sky-bg-04 { background-image: linear-gradient(to bottom, #20202c 0%,#515175 100%); }
.sky-bg-05 { background-image: linear-gradient(to bottom, #40405c 0%,#6f71aa 80%,#8a76ab 100%); }
.sky-bg-06 { background-image: linear-gradient(to bottom, #4a4969 0%,#7072ab 50%,#cd82a0 100%); }
.sky-bg-07 { background-image: linear-gradient(to bottom, #757abf 0%,#8583be 60%,#eab0d1 100%); }
.sky-bg-08 { background-image: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%); }
.sky-bg-09 { background-image: linear-gradient(to bottom, #94c5f8 1%,#a6e6ff 70%,#b1b5ea 100%); }
.sky-bg-10 { background-image: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%); }
.sky-bg-11 { background-image: linear-gradient(to bottom, #9be2fe 0%,#67d1fb 100%); }
.sky-bg-12 { background-image: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%); }
.sky-bg-13 { background-image: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%); }
.sky-bg-14 { background-image: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%); }
.sky-bg-15 { background-image: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%); }
.sky-bg-16 { background-image: linear-gradient(to bottom, #1e528e 0%,#265889 50%,#9da671 100%); }
.sky-bg-17 { background-image: linear-gradient(to bottom, #1e528e 0%,#728a7c 50%,#e9ce5d 100%); }
.sky-bg-18 { background-image: linear-gradient(to bottom, #154277 0%,#576e71 30%,#e1c45e 70%,#b26339 100%); }
.sky-bg-19 { background-image: linear-gradient(to bottom, #163C52 0%,#4F4F47 30%,#C5752D 60%,#B7490F 80%, #2F1107 100%); }
.sky-bg-20 { background-image: linear-gradient(to bottom, #071B26 0%,#071B26 30%,#8A3B12 80%,#240E03 100%); }
.sky-bg-21 { background-image: linear-gradient(to bottom, #010A10 30%,#59230B 80%,#2F1107 100%); }
.sky-bg-22 { background-image: linear-gradient(to bottom, #090401 50%,#4B1D06 100%); }
.sky-bg-23 { background-image: linear-gradient(to bottom, #00000c 80%,#150800 100%); }
.sky-bg-24 { background-image: linear-gradient(to bottom, #020111 85%,#00000c 100%); }

/**
  * Mexican wave
  *
  * @author jh3y - jheytompkins.com
*/
.mexican-wave:before {
  -webkit-animation: mexican-wave .75s infinite ease backwards;
          animation: mexican-wave .75s infinite ease backwards;
  border-radius: 100%;
  content: '';
  height: 10px;
  position: absolute;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  width: 10px; }

@-webkit-keyframes mexican-wave {
  0% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  15% {
    -webkit-box-shadow: -30px -20px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -20px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  30% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -20px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -20px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  45% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -20px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -20px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  60% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -20px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -20px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  75% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -20px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -20px 0 0 var(--primary); }
  100% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); } }

@keyframes mexican-wave {
  0% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  15% {
    -webkit-box-shadow: -30px -20px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -20px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  30% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -20px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -20px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  45% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -20px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -20px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  60% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -20px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -20px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  75% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -20px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -20px 0 0 var(--primary); }
  100% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); } }
